
  .content-wrapper {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
	margin: 110px auto 10px;
	position: relative;
	min-height: 100%;
	color: #555555;
	background-color: #FFFFFF;
	font-size: 18px;
  }
  
  .cart h1{
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 30px 0;
	text-align: center;
	width: 100%;
	font-weight: 700;
  }
  
  .cart table {
	width: 100%;
	border-collapse: collapse;
  }
  
  .cart table thead td {
	padding: 15px;
	border-bottom: 1px solid #EEEEEE;
	text-align: center;
	background-color: #f2f2f2;
	font-weight: 700;
	text-transform: uppercase;
  }
  
  .cart table tbody td {
	padding: 15px;
	border-bottom: 1px solid #EEEEEE;
	text-align: center;
	font-weight: 700;
  }
  
  .cart table .remove  {
	box-shadow: inset 0 0 0 0 #54b3d6;
  	color: #54b3d6;
  	padding: 5px;
	margin: 5px;
  	transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
	text-transform: uppercase;
	border-radius: 40px;
  }
  
  .cart table .remove:hover {
	color: #fff;
  	box-shadow: inset 200px 0 0 0 #fa0000;
	font-style: italic;
	border-radius: 40px;
  }
  
  .cart table a {
	text-decoration: none;
	color: #555555;
  }
  

  
  .cart .buttons {
	text-align: right;
	padding: 10px 40px;
  }
  
  .cart .buttons input[type="submit"] {
	margin-left: 5px;
	padding: 12px 20px;
	border: 0;
	background: #4e5c70;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
	text-transform: uppercase;
	transition: color .8s ease-in-out, box-shadow .3s ease-in-out;
  }
  
  .cart .buttons input[type="submit"]:hover {
	box-shadow: inset 150px 0 0 0 #0563f0;
  }
  
  .cart .empty-message {
	text-align: center;
	padding: 20px;
	color: #555555;
  }

.cart table .price {
	color: #999999;
}

.cart table input[type="number"] {
	width: 70px;
	padding: 10px;
	border: 1px solid #ccc;
	color: #555555;
	border-radius: 5px;
}


@media (max-width: 600px) {

	.cart{
		width: fit-content;
	}
	.cart h1 {
	  font-size: 24px;
	}
  
	.cart table thead td,
	.cart table tbody td {
	  padding: 10px;
	}
  
	.cart table .remove,
	.cart .buttons input[type="submit"] {
	  padding: 8px 16px;
	  font-size: 12px;
	}
  
	.cart table input[type="number"] {
	  width: 50px;
	  height: 30px;
	  padding: 8px;
	}
  
	
  }
  

  @media (max-width: 400px) {
	.cart{
		width: fit-content;
	}
  }
