
.container2 {
    align-items: center;
    background: #f4f7f8;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 110px;
    justify-content: center;

}

.card {
    width: min-content;
    padding: 20px;
    margin:20px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .04);
    transition: .4s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card .card-image {
    position: relative;
    width: 280px;
    height: 280px;
    padding: 0 20px;
    text-align: center;
    background: #f4f7f8;
    border-radius: 12px;
}

.card .card-image img {
    width: 100%;
    transition: .4s ease;
}

.card:hover .card-image img {
    transform: scale(1.02)
               rotate(-3deg)
               translateX(-5px);
}

.card .card-image .bx-star {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 10px;
    font-size: 20px;
    color: #f7ae04;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .04);
}

.card .card-content h4 {
    color: #222;
    font-size: 22px;
    margin-top: 20px;
}

.card .card-content p {
    color: #555;
    font-size: 18px;
    font-weight: 500;
    margin: 8px 0 22px;
    text-align: justify;
}

button{
    border: 3px solid #fff;
}

.card .card-content button {
    cursor: pointer;
    color: #fff;
    width: 100%;
    height: 50px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 12px;
    background: linear-gradient(45deg, #720606cb, #eb6565);
    margin: 5px;
}

.card .card-content button:hover{
    background: linear-gradient(45deg, #720606cb, #eb6565);

}

.add-to-cart{
    background: linear-gradient(45deg, #eb6565, #720606cb);
    transition: all 0.6s;
    box-shadow: inset 0 0 0 0 #d6c754;
    transition: color 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
}
.add-to-cart:hover {
    box-shadow: inset 300px 0 0 0 #fa9a00;
	font-style: italic;
    color: #fff;
    background-position: 100%;
    transform: translateX(0.5rem);  
}
.add-to-cart:active {
    transform: translate(0.5rem, 0.5rem);
    box-shadow: 0px 10px 20px -15px rgba(0, 0, 0, 0.75);
}

.con{
    display: block;
    align-items: center;
}

.btn{
    display: flex;
    justify-content: center;
    margin:10px;
}
.add_product {
    cursor: pointer;
    color: #fff;
    padding: 0 10px;
    width: 100%;
    height: 50px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 12px;
    background: linear-gradient(
        45deg, #fa2314, #e4eb16
    );
    margin: 5px;

}
.add_product:hover{
    background: linear-gradient(
        45deg,  #344116,#fa1f14
    ); 
    font-style: italic;
    background-position: 100%;
    transform: translateY(-0.5rem); 
}


@media (max-width: 1280px) {
    body {
        height: unset;

    }

    .container2 {
        flex-wrap: wrap;
        justify-content: center;
        padding: 30px 0;
    }

    .container2 .card {
        margin: 20px;
    }
}
