@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --blackRussian: #1f1f26;
    --greyWhite: #f9f9f9;
    --pacificBlue: #1ca9c9;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    line-height: 1.6;
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
}


header{
    height: 100px;
    width: 100%;
    top: 0;
   
}

footer{
    width: 100%;
    bottom: 0;
}

header a{
    color: #fff;
}

.container{
    padding: 5rem 1rem;
}
.header{
    background-color: #1f1f26;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #1f1f26;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
  }
  
  .header li a:hover,
    .header .menu-btn:hover {
    background-color: #f4f4f4;
}

  .header .brand-name {
    display: block;
    float: left;
    font-size: 2em;
    padding: 20px 30px;
    text-decoration: none;

  }

  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 45px 25px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #ffffff;
    display: block;
    height: 3px;
    position: relative;
    transition: background .2s ease-out;
    width: 20px;
   
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 7px;
  }
  
  .header .menu-icon .navicon:after {
    top: -6px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 450px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
    
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);

  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width:992px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }

  }
  

.brand-name{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.4s ease;

}
.brand-name span{
    background: #fff;
    color: var(--blackRussian);
    padding: 10px 20px;
    transition: background 0.4s ease;
}
.brand-name:hover{
    color: var(--pacificBlue);
}
.brand-name:hover span{
    background: var(--pacificBlue);
}

.head-icon{
   
    cursor: pointer;
    transition: color 0.4s linear;
    font-size: 25px;
}
.head-icon:hover{
    color: var(--pacificBlue);
}


.footer{
    text-align: center;
    background: var(--blackRussian);
}
.footer .brand-name{
    margin: 24px 0;
}
.footer a{
    text-decoration: none;
    color: var(--blackRussian);
}
.footer a:hover{
    opacity: 0.7;
}
.footer ul li{
    list-style: none;
    padding: 2px 0;
}
.footer a, .footer p{
    text-transform: capitalize;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    opacity: 0.9;
}
.footer h3{
    text-transform: uppercase;
    padding: 12px 0;
    color: var(--greyWhite);
}
.footer-icons{
    display: flex;
    justify-content: center;
}
.footer-icons li{
    margin: 10px;
}

/* Media Queries */
@media screen and (min-width: 768px){
    .trend-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 32px;
    }
    .trend-item{
        margin: 0;
    }
    .featured-item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .featured-item:nth-child(even) .featured-item-img{
        order: 2;
    }
    .blog-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 16px;
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 16px;
    }
}

@media screen and (min-width: 992px){
    .container{
        padding: 5rem 10rem;
    }
    .head-body-content{
        flex: 1;
        height: auto;
        align-items: flex-start;
        text-align: left;
    }
    .head-body-img{
        flex: 1;
    }
    .head-body-img img{
        width: 100%;
    }
    .blog-grid{
        grid-gap: 32px;
    }
    .footer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1200px){
    .trend-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .featured-item{
        grid-gap: 20px;
    }
}

@media screen and (max-width: 400px){
    .head-top{
        flex-direction: column;
    }
    .head-icon:first-child{
        margin-left: 0;
    }
    .brand-name{
        margin-bottom: 20px;
    }
    .head-body-content h1{
        font-size: 30px;
    }
    .head-body-content p{
        display: none;
    }
    .head-body.container{
        padding-top: 1.5rem;
        padding-bottom: 2rem;
    }
    .featured-btns{
        display: flex;
        flex-direction: column;
    }
    .featured-btns button{
        width: 100%;
        margin: 8px 0!important;
    }
    .form-control, .subscribe-btn{
        font-size: 16px;
    }
    .form-control{
        width: 255px;
    }
    .circle-box{
        height: 150px;
        width: 150px;
    }
    .circle-box.circle-1{
        top: -75px;
        left: -75px;
    }
    .circle-box.circle-2{
        bottom: -75px;
        right: -75px;
    }
}