<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
   
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='up.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='user_index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}" defer=""></script>
    
</head>
<body>
  <header class="header">
    <a href = "/" class = "brand-name">Our <span>Shop</span></a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a href="/"><span class = "head-icon"><i class = "fas fa-home"><h3>Home</h3></a></i></span></li>
      {% if role=='Account' %}
        <li><a href="/login"><span class = "head-icon"><i class = "fas fa-user-circle"><h3>{{user}}</h3></i></span></a></li>
      {% elif role=='user' %}
        <li><a href="/user_update"><span class = "head-icon"><i class = "fas fa-user-circle"><h3>{{user}}</h3></i></span></a></li>
      {% else %}
        <li><a href="/seller_update"><span class = "head-icon"><i class = "fas fa-user-circle"><h3>{{user}}</h3></i></span></a></li>
      {% endif %}
      {% if role=='Account' %}
      {% else %}
        <li><a href="/cart"><span class = "head-icon"><i class = "fas fa-shopping-bag"><h3>Cart</h3></i></span></a></li>
        <li><a href="/logout"><span class = "head-icon"><i class = "fas fa-sign-out-alt"><h3>LogOut</h3></i></span></a></li>
      {% endif %}
    </ul> 
  </header>
    

  
  <div class="container1">{% for product in products %}
    <div class="card">
      <div class="card-image">
        <img src="{{ product.Picture }}" alt="{{ product.Name }}">
        <i class="bx bx-star"></i>
      </div>
      <div class="card-content">
        <h4><a href="">{{ product.Name }}</a></h4>
        <p>{{ "RM %.2f"|format(product.Price) }}</p>
        <p>{{ product.Description }}</p>
        {% if role=='Account' %}
          <a href="/login"><button class="add-to-cart">Add To Cart</button></a>
        {% else %}
        <form action="/cart/add/{{ product.ProductID }}/1" method="POST">
          <button type="submit" class="add-to-cart">Add To Cart</button>
        </form>        
        {% endif %}
      </div>
      {% if loop.index is divisibleby(3) %}
        <div style="clear:both;"></div><!-- Add a clearing element after every third product -->
      {% endif %}
    </div>  {% endfor %}
  </div>
 
    
  <footer class = "footer container">
    <div class = "footer-item">
      <h2 class = "brand-name">
        Our <span>Shop</span>
      </h2>
      <p>social media accounts</p>
      <ul class = "footer-icons">
        <li>
          <a href = "#"><i class = "fab fa-facebook-f"></i></a>
        </li>
        <li>
          <a href = "#"><i class = "fab fa-twitter"></i></a>
        </li>
        <li>
          <a href = "#"><i class = "fab fa-instagram"></i></a>
        </li>
        <li>
          <a href = "#"><i class = "fab fa-linkedin"></i></a>
        </li>
        <li>
          <a href = "#"><i class = "fab fa-google-plus-g"></i></a>
        </li>
      </ul>
    </div>

    <div class = "footer-item">
      <h3>links</h3>
      <ul>
        <li><a href = "/">home</a></li>
        <li><a href = "#">download</a></li>
        <li><a href = "/crat">Cart</a></li>
        <li><a href = "#">about</a></li>
      </ul>
    </div>

    <div class = "footer-item">
      <h3>products</h3>
      <ul>
        <li><a href = "#">dog</a></li>
        <li><a href = "#">nature</a></li>
        <li><a href = "#">gem</a></li>
        <li><a href = "#">gadget</a></li>
      </ul>
    </div>

    <div class = "footer-item">
      <h3>support</h3>
      <ul>
        <li><a href = "#">FAQ</a></li>
        <li><a href = "#">how it works</a></li>
        <li><a href = "#">features</a></li>
        <li><a href = "#">contact</a></li>
      </ul>
    </div>
</footer>

    
</body>
</html>